name: Build Binaries (Mac & Windows)

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller setuptools

    - name: Build with PyInstaller (Mac)
      if: runner.os == 'macOS'
      run: |
        pyinstaller --noconfirm --windowed --name "AndroidManager" AndroidAppManager.py

    - name: Build with PyInstaller (Windows)
      if: runner.os == 'Windows'
      run: |
        pyinstaller --noconfirm --windowed --onefile --name "AndroidManager" AndroidAppManager.py

    - name: Archive production artifacts (Mac)
      if: runner.os == 'macOS'
      uses: actions/upload-artifact@v3
      with:
        name: AndroidManager-Mac
        path: dist/AndroidManager.app

    - name: Archive production artifacts (Windows)
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v3
      with:
        name: AndroidManager-Windows
        path: dist/AndroidManager.exe
